.category {
  height: max-content;
  width: 80%;
  margin: auto;

  .wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .infos {
      flex-grow: 1;
      margin: 5px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
