@import "../../app.scss";
.product__list {
  width: 80%;
  margin: auto;
  @include mobile {
    width: 100%;
    margin: 0;
  }
  .title {
    display: flex;
    align-items: center;
    margin: 20px 0;
    @include mobile {
      flex-direction: column;
    }
    form {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .left {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      select {
        padding: 10px;
        margin: 0 5px;
      }
      .reset__btn {
        width: 10rem;
        padding: 10px;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background: #000;
          color: white;
        }
      }
    }
    h1 {
      flex: 4;

      letter-spacing: 3px;

      text-align: center;
      @include mobile {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    .card {
      width: calc(50% - 60px);
      margin: 20px;
      @include mobile {
        width: 100%;
        margin: 20px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
