@import "../../app.scss";
.newsletter {
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
  height: 50vh;
  background-color: var(--gray);
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  .shape {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    @include mobile {
      left: 50%;
    }
  }

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    h3 {
      color: white;
      font-size: 1.6rem;
      margin-bottom: 20px;
      letter-spacing: 3px;

      @include mobile {
        font-size: 1.3rem;
        text-align: center;
      }
    }
    p {
      margin-bottom: 20px;
      color: white;
      font-size: 1rem;
      font-weight: lighter;
      letter-spacing: 3px;
      @include mobile {
        text-align: center;
      }
    }
    form {
      width: 40vw;

      display: flex;

      @include mobile {
        width: 100%;
      }
      input {
        flex: 1;
        padding: 5px;
        font-size: 1rem;

        outline: none;

        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        @include mobile {
          font-size: 0.8rem;
        }
      }
      button {
        padding: 10px;

        font-size: 1rem;

        background: none;
        color: white;
        cursor: pointer;

        border: 1px solid white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.3s ease-in-out;
        @include mobile {
          font-size: 0.8rem;
        }
        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
}
