.slider {
  height: 100vh;
  width: 80%;
  margin: auto;
  overflow: hidden;

  .wrapper {
    height: 100%;
    position: relative;

    .arrow {
      position: absolute;
      color: white;
      background: rgba(255, 255, 255, 0.582);
      font-size: 50px;
      border-radius: 50%;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.534);
      cursor: pointer;
      &.left {
        top: 50%;
        left: 20px;
        z-index: 60;
      }
      &.right {
        top: 50%;
        right: 20px;
      }
    }
    .slider__images {
      height: 100%;
      width: 100%;
      display: flex;

      transition: all 1.3s ease-in-out;

      .slider__container {
        width: 100vw;
        flex: 1;
        position: relative;
        img {
          width: 80vw;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }

        .container__infos {
          position: absolute;
          top: 50%;
          right: 10%;
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 3.5rem;
            color: white;
            letter-spacing: 3px;
          }
          p {
            margin: 20px 0;
            font-size: 2rem;
            color: white;
            font-weight: lighter;
          }
          button {
            width: 50%;
            padding: 10px;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 10px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
